# Customer Claims Hana Connection

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc("font",size=14)
sns.set(style="white")
sns.set(style="whitegrid",color_codes=True)
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pyodbc 
conn = None
cursor = None
conn = pyodbc.connect (
                        DSN = 'HANA PROD',
                        uid = 'MART_RDR_2',
                        pwd = 'Re@d3r13')
#cursor = conn.cursor()
#cursor.execute("select current_date from dummy")
#for row in cursor.fetchall():
#print(row)
df = pd.read_sql_query("""select * from MHK_WORKSPACE.FACT_CLAIMS_AI""",conn)
conn.close()
#df.head(10)
print(df.shape)
print(list(df.columns))
df.head(10)

C:\anaconda35\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Error: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

In [3]:

df.head(10)

,CLAIM_NUM,INVENTORY_STYLE_CD,INVENTORY_SIZE_CD,INVENTORY_BACKING_CD,INVENTORY_COLOR_CD,DIM_DIVISION_CUSTOMER_GK,CLAIM,TOTAL_CLAIM,TOTAL_CLAIM_CNT,TRX_CNT,NET_SALES
0,7128208,27949,1200,A,728,299832,635.70,666.08,3,58,952219.01
1,7128013,27949,1200,A,81336,299832,1501.67,1574.24,4,26,221429.41
2,7128223,27931,1200,A,740,299832,346.01,226.38,1,30,305721.91
3,7132728,32519,0500,EW,96,251961,54.97,555.76,7,25,125298.25
4,7128746,32563,MULTI,EW,92,251961,249.55,1552.63,2,89,438514.13
5,7128050,28168,1200,H4,819,250917,1676.53,3249.49,1,13,29578.44
6,7127764,28168,1200,H4,786,346504,25119.61,6456.02,1,18,154370.00
7,7116356,27932,1200,A,842,232904,924.11,405.42,2,156,274674.26
8,7108401,27932,1200,A,945,232904,1442.73,1167.00,2,174,339075.97
9,7122153,C9002,0636,VT,103,228317,10432.80,2901.07,4,91,420689.16

In [4]:
df.head(10)

,CLAIM_NUM,INVENTORY_STYLE_CD,INVENTORY_SIZE_CD,INVENTORY_BACKING_CD,INVENTORY_COLOR_CD,DIM_DIVISION_CUSTOMER_GK,CLAIM,TOTAL_CLAIM,TOTAL_CLAIM_CNT,TRX_CNT,NET_SALES
0,7128208,27949,1200,A,728,299832,635.70,666.08,3,58,952219.01
1,7128013,27949,1200,A,81336,299832,1501.67,1574.24,4,26,221429.41
2,7128223,27931,1200,A,740,299832,346.01,226.38,1,30,305721.91
3,7132728,32519,0500,EW,96,251961,54.97,555.76,7,25,125298.25
4,7128746,32563,MULTI,EW,92,251961,249.55,1552.63,2,89,438514.13
5,7128050,28168,1200,H4,819,250917,1676.53,3249.49,1,13,29578.44
6,7127764,28168,1200,H4,786,346504,25119.61,6456.02,1,18,154370.00
7,7116356,27932,1200,A,842,232904,924.11,405.42,2,156,274674.26
8,7108401,27932,1200,A,945,232904,1442.73,1167.00,2,174,339075.97
9,7122153,C9002,0636,VT,103,228317,10432.80,2901.07,4,91,420689.16