In [1]:
import pyhdb
import pandas as pd

In [2]:
connection = pyhdb.connect(
    host="cchgpasdb2",
    port=32553,
    user="MART_RDR_2",
    password="Re@d3r13"
)

In [3]:
#testing the connection
DF= pd.read_sql_query("""SELECT A.FINISHED_ROLL_NUM,A.FG_ROLL_CREATION_DTM, A.FG_QUALITY_CD,A.BACKING_QUALITY_CD,A.WIP_QUALITY_CD,A.YARN_QUALITY_CD from 
                        "_SYS_BIC"."mhk.edw_mart.Impaired_Inventory_Analysis/MHK_CEVW_IMPAIRED_INVENTORY" A 
                    WHERE A.FINISHED_ROLL_NUM='06436285'""", connection)

In [4]:
DF

,FINISHED_ROLL_NUM,FG_ROLL_CREATION_DTM,FG_QUALITY_CD,BACKING_QUALITY_CD,WIP_QUALITY_CD,YARN_QUALITY_CD
0,06436285,2017-03-06 15:00:56.001,0,0,0,1

In [9]:
DF_all= pd.read_sql_query("""SELECT A.FINISHED_ROLL_NUM, A.FG_ROLL_CREATION_DTM, A.FG_QUALITY_CD,A.BACKING_QUALITY_CD,A.WIP_QUALITY_CD,A.YARN_QUALITY_CD from 
                        "_SYS_BIC"."mhk.edw_mart.Impaired_Inventory_Analysis/MHK_CEVW_IMPAIRED_INVENTORY" A 
                        WHERE A.FG_ROLL_CREATION_DTM >= '2017-01-10' AND A.FG_ROLL_CREATION_DTM < '2017-01-13'""", connection)
DF_all.to_csv("df_2017_0110_0113.csv")

In [10]:
DF_all

,FINISHED_ROLL_NUM,FG_ROLL_CREATION_DTM,FG_QUALITY_CD,BACKING_QUALITY_CD,WIP_QUALITY_CD,YARN_QUALITY_CD
0,05507860,2017-01-12 11:27:39.001,0,Unknown,Unknown,Unknown
1,05474784,2017-01-11 00:10:25.001,5,0,0,0
2,05518664,2017-01-12 20:59:51.001,0,0,0,1
3,05467951,2017-01-10 15:52:29.001,0,Unknown,Unknown,Unknown
4,05453210,2017-01-10 00:11:11.001,6,0,0,1
5,05469947,2017-01-10 17:17:22.001,9,0,0,6
6,6A335297,2017-01-10 17:22:04.001,1,Unknown,Unknown,Unknown
7,05477648,2017-01-11 07:04:43.001,0,0,0,6
8,05496033,2017-01-11 19:04:49.001,1,0,0,6
9,05499805,2017-01-12 02:26:13.001,0,0,0,1
10,05511889,2017-01-12 14:35:31.001,0,Unknown,Unknown,Unknown
11,05462662,2017-01-10 13:12:54.001,2,6,0,1
12,05471154,2017-01-10 18:44:49.001,9,0,0,1
13,05476661,2017-01-11 05:37:57.001,0,0,0,2
14,7A003121,2017-01-12 10:36:46.001,5,Unknown,Unknown,Unknown
15,05475295,2017-01-11 02:03:32.001,6,0,0,0
16,05492676,2017-01-11 16:16:00.001,5,0,0,1
17,05520305,2017-01-12 23:27:09.001,0,Unknown,0,1
18,05454726,2017-01-10 04:43:12.001,0,0,0,9
19,05506241,2017-01-12 10:40:56.001,2,0,9,2
20,05454851,2017-01-10 05:09:52.001,0,0,0,1
21,05453320,2017-01-10 00:35:00.001,0,0,0,1
22,05518447,2017-01-12 20:37:02.001,1,Unknown,9,1
23,05472160,2017-01-10 19:24:19.001,0,0,0,0
24,05520349,2017-01-12 23:42:58.001,0,Unknown,0,1
25,05497021,2017-01-11 20:40:04.001,5,0,0,0
26,05472266,2017-01-10 19:37:01.001,0,Unknown,0,9
27,05475362,2017-01-11 02:17:26.001,0,0,0,9
28,05475611,2017-01-11 03:02:20.001,0,0,0,1
29,05486926,2017-01-11 13:00:09.001,9,6,0,6
...,...,...,...,...,...,...
65991,05508923,2017-01-12 12:14:18.001,2,0,0,1
65992,05473813,2017-01-10 22:34:34.001,3,0,0,0
65993,05501608,2017-01-12 05:44:09.001,5,0,0,1
65994,05474792,2017-01-11 00:13:04.001,5,0,0,1
65995,05454754,2017-01-10 04:47:38.001,0,Unknown,0,0
65996,05486819,2017-01-11 12:52:51.001,0,Unknown,Unknown,Unknown
65997,05484069,2017-01-11 11:33:30.001,0,0,6,1
65998,05501571,2017-01-12 05:37:54.001,5,0,0,1
65999,05485027,2017-01-11 12:03:31.001,0,Unknown,Unknown,Unknown
66000,05468034,2017-01-10 15:55:15.001,0,Unknown,Unknown,Unknown
66001,05464123,2017-01-10 13:47:07.001,9,0,0,1
66002,05455303,2017-01-10 06:35:51.001,6,0,0,9
66003,05460607,2017-01-10 11:34:17.001,0,0,0,1
66004,05501225,2017-01-12 04:47:04.001,0,Unknown,Unknown,Unknown
66005,05502842,2017-01-12 08:21:08.001,0,0,6,1
66006,05455914,2017-01-10 07:40:05.001,0,Unknown,Unknown,Unknown
66007,05480498,2017-01-11 09:33:09.001,2,0,0,1
66008,05520456,2017-01-12 23:58:17.001,0,6,0,1
66009,05483665,2017-01-11 11:10:39.001,0,0,0,0
66010,05455024,2017-01-10 05:46:43.001,0,0,0,0
66011,05506408,2017-01-12 10:44:53.001,0,Unknown,Unknown,Unknown
66012,05474754,2017-01-11 00:00:48.001,5,0,0,1
66013,05514987,2017-01-12 16:20:18.001,0,Unknown,Unknown,Unknown
66014,05470188,2017-01-10 17:28:34.001,0,6,0,9
66015,05483661,2017-01-11 11:11:34.001,1,0,9,9
66016,05474085,2017-01-10 23:01:03.001,6,0,0,0
66017,05483840,2017-01-11 11:23:29.001,1,0,6,9
66018,05462024,2017-01-10 12:35:23.001,0,0,0,6
66019,05485852,2017-01-11 12:29:37.001,0,0,0,9
66020,05469438,2017-01-10 16:52:52.001,0,0,0,5