# Customer Claims Hana Connection

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc("font",size=14)
sns.set(style="white")
sns.set(style="whitegrid",color_codes=True)
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pyodbc 
conn = None
cursor = None
conn = pyodbc.connect (
                        DSN = 'HANA PROD',
                        uid = 'MART_RDR_2',
                        pwd = 'Re@d3r13')
#cursor = conn.cursor()
#cursor.execute("select current_date from dummy")
#for row in cursor.fetchall():
#print(row)
df = pd.read_sql_query("""select * from MHK_WORKSPACE.FACT_CLAIMS_AI""",conn)
conn.close()
#df.head(10)
print(df.shape)
print(list(df.columns))
df.head(10)

(305, 11)
['CLAIM_NUM', 'INVENTORY_STYLE_CD', 'INVENTORY_SIZE_CD', 'INVENTORY_BACKING_CD', 'INVENTORY_COLOR_CD', 'DIM_DIVISION_CUSTOMER_GK', 'CLAIM', 'TOTAL_CLAIM', 'TOTAL_CLAIM_CNT', 'TRX_CNT', 'NET_SALES']

,CLAIM_NUM,INVENTORY_STYLE_CD,INVENTORY_SIZE_CD,INVENTORY_BACKING_CD,INVENTORY_COLOR_CD,DIM_DIVISION_CUSTOMER_GK,CLAIM,TOTAL_CLAIM,TOTAL_CLAIM_CNT,TRX_CNT,NET_SALES
0,7132728,32519,0500,EW,96,251961,54.97,555.76,7,25,125298.25
1,7128746,32563,MULTI,EW,92,251961,249.55,1552.63,2,89,438514.13
2,7136369,28172,1200,A,717,279975,26.14,411.10,2,94,249874.17
3,7128050,28168,1200,H4,819,250917,1676.53,3249.49,1,13,29578.44
4,7127764,28168,1200,H4,786,346504,25119.61,6456.02,1,18,154370.00
5,7116356,27932,1200,A,842,232904,924.11,405.42,2,156,274674.26
6,7108401,27932,1200,A,945,232904,1442.73,1167.00,2,174,339075.97
7,7122153,C9002,0636,VT,103,228317,10432.80,2901.07,4,91,420689.16
8,7107945,63003,0648,VT,106,269282,777.60,157.40,1,76,54028.80
9,7129177,27952,1200,A,929,260519,57.94,5672.90,5,240,395340.51

In [4]:
import os
def _create_path(path):
    if not os.path.exists(path):
        os.mkdir(path)       

def _create_filename(path, fname, prefix = '', affix = '.csv'):
    # create new file name
    output_name = prefix + fname + affix        
    foutput_name = os.path.join(path, '', output_name)
             
    return foutput_name

In [5]:
#data directory
parentDir = "C:/Users/E154709/SmartClaim"
dataPath = parentDir + '/Data/'
_create_path(dataPath)

In [6]:
import datetime
now = datetime.datetime.now()
print ("Current date and time using strftime:")
print (now.strftime("%Y-%m-%d"))
datafile = "claim_input_" + now.strftime("%Y-%m-%d") + '.csv'

# save data   
affix = ".csv"
prename = 'input_'
fdata = _create_filename(dataPath, now.strftime("%Y-%m-%d"), prename, affix)
    
df.to_csv(fdata)

Current date and time using strftime:
2018-01-15

In [2]:

df.head(10)

,CLAIM_NUM,INVENTORY_STYLE_CD,INVENTORY_SIZE_CD,INVENTORY_BACKING_CD,INVENTORY_COLOR_CD,DIM_DIVISION_CUSTOMER_GK,CLAIM,TOTAL_CLAIM,TOTAL_CLAIM_CNT,TRX_CNT,NET_SALES
0,7128208,27949,1200,A,728,299832,635.70,666.08,3,58,952219.01
1,7128013,27949,1200,A,81336,299832,1501.67,1574.24,4,26,221429.41
2,7128223,27931,1200,A,740,299832,346.01,226.38,1,30,305721.91
3,7132728,32519,0500,EW,96,251961,54.97,555.76,7,25,125298.25
4,7128746,32563,MULTI,EW,92,251961,249.55,1552.63,2,89,438514.13
5,7128050,28168,1200,H4,819,250917,1676.53,3249.49,1,13,29578.44
6,7127764,28168,1200,H4,786,346504,25119.61,6456.02,1,18,154370.00
7,7116356,27932,1200,A,842,232904,924.11,405.42,2,156,274674.26
8,7108401,27932,1200,A,945,232904,1442.73,1167.00,2,174,339075.97
9,7122153,C9002,0636,VT,103,228317,10432.80,2901.07,4,91,420689.16

In [4]:
df.head(10)

,CLAIM_NUM,INVENTORY_STYLE_CD,INVENTORY_SIZE_CD,INVENTORY_BACKING_CD,INVENTORY_COLOR_CD,DIM_DIVISION_CUSTOMER_GK,CLAIM,TOTAL_CLAIM,TOTAL_CLAIM_CNT,TRX_CNT,NET_SALES
0,7128208,27949,1200,A,728,299832,635.70,666.08,3,58,952219.01
1,7128013,27949,1200,A,81336,299832,1501.67,1574.24,4,26,221429.41
2,7128223,27931,1200,A,740,299832,346.01,226.38,1,30,305721.91
3,7132728,32519,0500,EW,96,251961,54.97,555.76,7,25,125298.25
4,7128746,32563,MULTI,EW,92,251961,249.55,1552.63,2,89,438514.13
5,7128050,28168,1200,H4,819,250917,1676.53,3249.49,1,13,29578.44
6,7127764,28168,1200,H4,786,346504,25119.61,6456.02,1,18,154370.00
7,7116356,27932,1200,A,842,232904,924.11,405.42,2,156,274674.26
8,7108401,27932,1200,A,945,232904,1442.73,1167.00,2,174,339075.97
9,7122153,C9002,0636,VT,103,228317,10432.80,2901.07,4,91,420689.16